@import url(https://fonts.googleapis.com/css?family=Work+Sans:300);
body {
  background: #333;
  margin: 0;
}

body, input {
  font-family: Georgia;
}

h2 {
  font-size: 1em;
  margin: 0;
  margin-top: 1em;
}

#file-area {
  display: table;
  padding: 1em;
  padding-top: 0;
  max-width: 20em;
  padding-left: 70px;
  background: url("http://aishack.in/static/img/tut/sudoku-original.jpg") no-repeat 5px center;
  background-size: 60px;
  background-color: #eee;
  /*
  #source-image {
      display: block;
      
      &.loaded {
          margin-top: $default-margin;
      }
  }
  */
}
#file-area * {
  max-width: 100%;
}

#normalized-area {
  display: table;
  padding: 1em;
  padding-top: 0;
  background: #cde;
  margin-top: 1em;
}
#normalized-area #show-normalized:checked ~ #board-wrapper #normalized {
  display: block;
}
#normalized-area #board-wrapper {
  position: relative;
}
#normalized-area #board-wrapper #normalized {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#board {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  border-bottom: 50px solid rgba(255, 200, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.4);
}
#board .row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 1 auto;
  /*
  .input-wrapper {
      position: absolute;
      top:0; left:0; bottom:0; right:0;
      background: rgba(255,255,0, 0.2);
  }
  */
}
#board .row .cell {
  flex: 1 1 auto;
  position: relative;
}
#board .row input {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  border: none;
  color: blue;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}

#step-solve {
  display: none;
}

#log {
  white-space: pre;
  font-family: monospace;
  background: aliceblue;
  margin: .5em 0;
}
