<div id="board1" class="double">
    <board-cmp #boardComponent1 [board]="boards[0]"></board-cmp>
    <div class="consoleClass" *ngIf="!isNastyPlay">
        <button id="playNasty" class="basicButton" type="button" (click)="startPlayNasty()">Play Nasty</button>
    </div>
</div>

<div #boardComponent2 id="board2" class="double" *ngIf="isNastyPlay">
    <board-cmp [board]="boards[1]" [player]="nastyPlayer"></board-cmp>
    <div id="nastyPlayerImage">
        <span width="20" style="position: relative; left: 40%; top: -230; z-index: 3; width: 40%; display: block">Bla Bla Bla abbb bbbbb ddd sssss ccc ssss ooo dd</span>
        <div>
            <img src="../fumetto.png" height="30%" width="60%" style="position: relative; left: 30%; top: -330; z-index: 1">
        </div>
        <img src="../nastyPlayer.jpg" height="30%" width="30%" style="position: relative; left: 10%; top: -350">        
    </div>
</div>
