<div class="boardClass">
    <span>{{getTitleMessage()}}</span>
    <table>
        <tbody>
            <tr *ngFor="#rowOfCells of board.rows">
                <td *ngFor="#cellInRow of rowOfCells.cells">
                    <cell-cmp [cell]="cellInRow" (cellValChanged)="cellValChanged($event)"></cell-cmp>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="consoleClass">
    <button id="solveButton" class="basicButton" type="button" (click)="solve()"
        [disabled]="!enableSolveButton">solve</button>
    <button id="playButton" class="basicButton" type="button" (click)="setPlayMode()"
        [disabled]="!enablePlayButton">play</button>
    <button id="resetButton" class="basicButton" type="button" (click)="resetBoard()">reset</button>
    <button id="tryAnotherSolutionButton" class="basicButton" type="button" 
        (click)="tryAnotherSolution()" [disabled]="!enableTryAnotherSolutionButton">try another</button>
</div>
<div class="consoleClass">
    <input #selectedImage id="selectImage" type="file" name="image" (change)="imageSelected($event)">
</div>
<div class="errorMessageClass sudokuAlert sudokuAlert-danger" [hidden]="!errorMessage">
    <span>{{errorMessage}}</span>
</div>
<renderer-cmp #renderer></renderer-cmp>