.boardClass {
    width: 100%;
}
.boardClass table {
    border-color: lightsteelblue;
    border-style: solid;
}
.consoleClass {
    width: 100%;
}
.errorMessageClass {
    width: 60%;
}
@media (min-width : 700px) {
.cellClass {
    width: 30;
    height: 30;
    padding-left: 4;
}
}
@media (max-width : 700px) {
.cellClass {
    width: 20;
    height: 20;
    padding-left: 4;
}
}
.cellWithBottomBorder {
    border-bottom-color: lightsteelblue;
    border-bottom-style: dashed;
    border-bottom-width: 2;
    padding-bottom: 3;
}
.cellWithRightBorder {
    border-right-color: lightsteelblue;
    border-right-style: dashed;
    border-right-width: 2;
    padding-right: 3;
}
.inconsistent {
    background-color: lightpink;
}
.hasNoAllowedValues {
    background-color: darkred;
}
.cellClass.setAsInput {
    background-color: lightgray;
    color: darkblue;
    font-weight: bold;
}
.cellClass.setAsInput.disabled {
    padding-left: 4;
}
.sudokuAlert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.sudokuAlert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}